body {
  background: linear-gradient(rgba(250,110,231,0.8) 0%, rgba(45,154,253,0) 50%);
  background-color: #212529;
  background-repeat: no-repeat;
}
.container {
  margin: 0 auto;
  font-size: 17px;
  margin-top: 5%;
  text-align: justify;
}
.container blockquote {
  color: #ced4da;
}
.container p {
  color: #ced4da;
  text-align: right;
  margin-right: 3%;
}
.tablepic {
  width: 100%;
}
.grid-gallery{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: grid;
  gap: 1rem;
  grid-template-columns:  repeat(auto-fit, minmax(240px, 1fr));
}
.grid-gallery div{
  background-color: rgba(87, 86, 86, 0.5);
  height: 100%;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.grid-gallery div a:visited {
  text-decoration: none;
  color: white;
  background: rgba(87, 86, 86, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.grid-gallery div:hover {
  background: #7a7f85;
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.411);
}
td:hover .zoom {
  display: block;
}
#album_table_title{
  width: 100%;
  text-align: center;
}
#album_footer{
  width: 100%;
  text-align: center;
}
div a{
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: larger;
}
hr{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 60%;
}
h1{
  margin-top: 2%;
  font-size: 50px;
}
@media only screen and (min-width: 768px) {
  .container{
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  
}