#logo, #logomem{
    filter: invert(100%);
    display: block;
    margin-left: auto;
    width: 30%;
    height: 30%;
    margin-right: auto;
}
nav, .backbtn, iframe, #showMore, #control{
    display: none !important;
}
td, td a, #darkside{
    box-shadow: none;
}
.container p, 
.container blockquote,
p,
#tabhead,
.description,
.stitle,
.atitle, h1,
.song{
    color: black !important;
}
blockquote{
    margin: auto;
}
.description{
    width: 80%;
}
.name, .desc{
    font-size: 20px;
}
#shows{
    color: black;
}
.grid-gallery div{
    box-shadow: none;
}