body {
  background: linear-gradient(rgba(111, 245, 234, 0.603) 0%, rgba(161, 205, 247, 0) 50%);
  background-color: #212529;
  background-repeat: no-repeat;
}
.song{
  box-shadow: 5px 6px 8px 3px rgba(0,0,0,0.2);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(75, 75, 75, 0.603);
}
#songTitle{
  font-size: 30px;
  font-weight: bold;
}
#songAlbum{
  font-size: 20px;
  font-style: italic;
}
#songYear{
  font-size: 15px;
}
.song:hover{
  background-color: rgba(0, 238, 255, 0.603);
}
#ssong{
  padding: 5px;
  background-color:rgba(75, 75, 75, 0.603);
  border: none;
  width: 85%;
  height: 30px;
  color: white;
  font-size: 20px;
  box-shadow: 5px 6px 8px 3px rgba(0,0,0,0.2);
}
#songBtn{
  margin-left: 10px;
  height: 100%;
  width: 15%;
  padding: 5px;
  background-color:rgba(75, 75, 75, 0.603);
  color: white;
  border: none;
  box-shadow: 5px 6px 8px 3px rgba(0,0,0,0.2);
}
#control{
  display: flex;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
#foundSongs{
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
a{
  text-decoration: none;
  color: white;
}
@media only screen and (min-width: 768px) {
  .song{
    width: 60%;
  }
  #guitar{
    display: inline;
    margin-right: 10%;
    margin-top: 2%;
    margin-left: auto;
    float: right;
  }
}
@media only screen and (max-width: 768px) {
  #guitar{
    display: none;
  }
}