html{
  scroll-behavior: smooth;
}
body {
  color: white;
  margin: 0 auto;
  background-color: #212529;
  height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}
nav a,
nav .dropdown,
nav a:visited {
  color: #dee2e6;
  text-decoration: none;
  font-size: 20px;
  height: 100%;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.vl {
  border-left: solid #bebebe;
  height: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
nav {
  top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 65px;
  width: 80%;
  background: rgba(87, 86, 86, 0.5);
}
nav a:hover,
nav .dropdown:hover,
.backbtn:hover {
  background-color: #7a7f85;
}
.dropdown {
  min-width: 100px;
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  width: 100%;
  overflow: auto;
  position: absolute;
  background-color:  #43484d;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  width: auto;
  padding: 15px 30px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
.dropdown-content a:hover {
  background-color: #7a7f85
}
.dropdown:hover .dropdown-content {
  display: block;
}
#dsotm:hover {
  background-image: url('./resources/darkside.png');
  background-size: 100%;
  background-position: 0px -70px;
  text-shadow: 1px 0 10px #000000,1px 0 10px #212529,1px 0 10px #212529;
  font-weight: bold;
}
#twall:hover {
  background-image: url('./resources/thewall.png');
  background-position: 0px 0px;
  background-size: 200%;
  font-weight: bold;
  color: red;
  background-attachment: inherit;
}
#anim:hover {
  background-image: url('./resources/animals.png');
  background-size: 100%;
  background-position: 0px -65px;
  text-shadow: 1px 0 10px #212529,1px 0 10px #212529,1px 0 10px #212529;
  font-weight: bold;
}
footer {
  margin-top: auto;
  height: 3%;
  background-color: #343a40;
  padding: 3px;
  text-align: center;
  color: rgb(184, 184, 184);
  bottom: 0;
}
@media only screen and (min-width: 768px) {
  .menu{
    display: none;
  }
  #pinks {
    display: inline-flex;
    width: 30%;
    margin-right: 10%;
    margin-left: auto;
    float: right;
    margin-bottom: 5px;

  }
  #logomem {
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    width: 15%;
  }
  .backbtn,
  .backbtn a:visited,
  .backbtn a {
    width: 15%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-decoration: none;
    background: rgba(87, 86, 86, 0.5);
    color: rgb(189, 189, 189);
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .desktop{
    display: none;
  }
  .burger {
    width: 20vw;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0;
    outline: none;
  }
  .menu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    left: -80vw;
    transition-duration: 0.5s;
    z-index: 2;
  }
  .mobile{
    background-color: #131516;
    height: 100%;
    width: 80vw;
  }
  ul {
    list-style: none;
  }
  nav ul li a:visited {
    color: #ffffff;
  }
  nav ul li {
    margin-top: 30px;
  }
  nav ul li a, li p {
    font-size: 1.2rem;
    text-decoration: none;
  }
  li p{
    color: rgb(133, 133, 133);
  }
  .burger_box {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
  }
  .burger_box_content {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .burger_box_content::before,
  .burger_box_content::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    transition-duration: 0.3s;
  }
  .burger_box_content::before {
    top: -13px;
  }
  .burger_box_content::after {
    top: 13px;
  }
  .burger--active .burger_box_content {
    background-color: transparent;
  }
  .burger--active .burger_box_content::before {
    transform: translateY(13px) rotate(45deg);
  }
  .burger--active .burger_box_content::after {
    transform: translateY(-13px) rotate(-45deg);
  }
  .backbtn,
  .backbtn a:visited,
  .backbtn a {
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    text-decoration: none;
    background: rgba(87, 86, 86, 0.5);
    color: rgb(189, 189, 189);
    font-size: 15px;
  }
  #logomem, #logo{
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
  }
}